
p {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 15px;
  color:"black";
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 23px;
  color:#FF1493;
}

#camera{
  width: 50px;
  height: 50px;
  filter: invert(100%);
  top: 0;
  float: left;
}

#my-map {
  position: absolute;
  margin-left: 26%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#about {
  height:50%;
  width: 25%;
}

footer {
  width: 25%;
  position: fixed;
  bottom: 10px;
}

.leaflet-popup-content-wrapper {
  border: 2px solid #FF6347;
  border-radius: 8px;
}

.leaflet-popup-content {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 15px;
  color: black;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: white;
    color: #ffffff;
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
